<template>
    <v-container fluid grid-list-lg>
        <v-snackbar top v-model="success" color="success">
            <span> <v-icon>check_circle</v-icon> {{messages}} </span>
        </v-snackbar>
        <v-snackbar top v-model="error" color="error">
            <span> <v-icon>warning</v-icon> {{messages}} </span>
        </v-snackbar>
        <h1>Clientes <span style="font-size: 12px;"> Novo cliente</span></h1>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card class="black--text">
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <h3>Usuário <span style="font-size: 12px;color: #c3c3c3">Dados do usuário</span></h3>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Nome completo" required v-model="fields.users[0].full_name" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="E-mail" required v-model="fields.users[0].email" :rules="emailRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Celular" mask="(##)#####-####" required v-model="fields.users[0].mobile" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Senha" type="password" required v-model="fields.users[0].password" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <v-text-field label="Observação" required v-model="fields.users[0].obs" :rules="nameRules"></v-text-field>
                        </v-flex>

                        <v-flex xl12 lg12 md12 sm12 xs12>
                        <h3>Clientes <span style="font-size: 12px;color: #c3c3c3">Dados do cliente</span></h3>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Nome da empresa / Razão social" required v-model="fields.fantasy_name" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Nome fantasia" required v-model="fields.company_name" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="CNPJCPF" required mask="##.###.###/####-##" v-model="fields.CNPJCPF" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="CEP" mask="######-###" required v-model="fields.CEP" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Logradouro" required v-model="fields.street" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Número" required v-model="fields.number" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Bairro" required v-model="fields.district" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Cidade" required v-model="fields.city" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="UF" required v-model="fields.UF" :rules="nameRules"></v-text-field>
                        </v-flex>

                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Complemento" required v-model="fields.complement" :rules="nameRules"></v-text-field>
                        </v-flex>

                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Telefone" mask="(##)####-####" required v-model="fields.telephone" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Telefone 2" mask="(##)####-####" v-model="fields.telephone_2"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="E-mail para cobrança" required v-model="fields.email" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="E-mail opcional" v-model="fields.email_2"></v-text-field>
                        </v-flex>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <v-text-field label="Observação" required v-model="fields.obs"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-flex xl12 lg12 md12 sm12 xs12>
                        <v-layout row wrap right>
                            <v-container>
                                <v-btn class="grey darken-1" router :to="'/users'" dark flat>Cancelar</v-btn>
                                <v-btn class="blue darken-1" dark flat :disabled="!valid" @click="submit">Cadastrar</v-btn>
                            </v-container>
                        </v-layout>
                    </v-flex>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                loading: false,
                valid: true,
                error: false,
                success: false,
                messages: '',
                fields: {
                    company_name: 'Itau',
                    fantasy_name: 'Itau fantasia',
                    CNPJCPF: '32132132121311',
                    CEP: '09541150',
                    street: 'Rua Tal 1',
                    number: '213',
                    district: 'Santa paula',
                    city: 'Sao Paula',
                    UF: 'Sp',
                    complement: 'nada',
                    telephone: '1111111',
                    telephone_2: '1111111',
                    email: 'danilo.saiz4@hwn.com.br',
                    email_2: 'danilo.saiz5@hwn.com.br',
                    obs: 'nada',
                    users:[{
                        acl: 'A',
                        full_name: 'ROGERIO WCAST',
                        mobile: '1183737373',
                        email: 'danilo.saiz6@hwn.com.br',
                        password: '1234',
                        confirm_password: '1234',
                        locales: [],
                        obs: 'nada'
                    }]
                },
                locales: [],
                search: '',
                totalItems: 0,
                pagination: {rowsPerPage: 10},
                headers: [
                    {text: 'Selecione', value: 'select', align: 'left', sortable: false},
                    {text: 'Local', value: 'fantasy_name', align: 'left', sortable: true},
                    {text: 'Endereço', value: 'address', align: 'left', sortable: true},
                    {text: 'Tipo', value: 'type', align: 'center', sortable: true},
                ],
                nameRules: [
                    (v) => !!v || 'Este campo é obrigatório',
                ],
                emailRules: [
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'O E-mail não é valido!'
                ]
            }
        },
        methods: {
            loadData: function () {
                var self = this;
                var data = this.pagination;
                data.search = this.search;
                self.loading = true;
                this.$axios.get('/list-locales.json', {
                    params: {
                        data
                    }
                }).then((response) => {
                    this.locales = response.data.registries;
                    this.totalItems = response.data.totalRegistries;
                    this.loading = false;
                }).catch(function (e) {
                    self.error = true
                    self.messages = e.response.data.message
                }).then(function () {
                    // always executed
                    self.loading = false
                });
            },
            submit() {
                var self = this;
                if (self.$refs.form.validate()) {
                    self.$store.commit('onLoading', true);
                    self.error = self.success = false;
                    self.messages = '';
                    self.$axios.post('/add-clients.json', self.fields).then(function (response) {
                        self.$store.commit('onLoading', false);
                        if (response.data.success === true) {
                            self.success = true;
                            self.messages = response.data.message;
                            setTimeout(function () {
                                self.$router.push('/clients');
                            }, 2000);
                        } else {
                            self.error = true
                            self.messages = response.data.message;
                        }
                    }).catch(function (e) {
                        self.error = true
                        self.messages = 'Sem conexão com o servidor'
                    })
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                /*this.loadData()*/
            })
        }
    }
</script>
