<template>
    <v-container fluid grid-list-lg>
        <v-snackbar top v-model="success" color="success">
            <span> <v-icon>check_circle</v-icon> {{message}} </span>
        </v-snackbar>
        <v-snackbar top v-model="error" color="error">
            <span> <v-icon>warning</v-icon> {{message}} </span>
        </v-snackbar>
        <h1>Clientes <span style="font-size: 12px;"> Editar cliente</span></h1>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card class="black--text">
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Nome fantasia" required v-model="register.company_name" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Nome da empresa / Razão social" required v-model="register.fantasy_name" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl4 lg4 md4 sm12 xs12>
                            <v-text-field label="CNPJ" required mask="##.###.###/####-##" v-model="register.CNPJCPF" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl4 lg4 md4 sm12 xs12>
                            <v-text-field label="CPF" required mask="##.###.###/####-##" v-model="register.CNPJCPF" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl4 lg4 md4 sm12 xs12>
                            <v-text-field label="CEP" mask="######-###" required v-model="register.CEP" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md6 sm12 xs12>
                            <v-text-field label="Logradouro" required v-model="register.street" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md3 sm12 xs12>
                            <v-text-field label="Número" required v-model="register.number" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md3 sm12 xs12>
                            <v-text-field label="Bairro" required v-model="register.district" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl4 lg4 md4 sm12 xs12>
                            <v-text-field label="Cidade" required v-model="register.city" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl2 lg2 md2 sm12 xs12>
                            <v-text-field label="UF" required v-model="register.UF" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md6 sm12 xs12>
                            <v-text-field label="Complemento" v-model="register.complement"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Telefone" mask="(##)####-####" required v-model="register.telephone" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="E-mail" required v-model="register.email" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Telefone 2" mask="(##)####-####" v-model="register.telephone_2"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="E-mail 2" v-model="register.email_2"></v-text-field>
                        </v-flex>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <label style="color: grey">Observações</label>
                            <app-ckeditor id="editor1" v-model="register.obs"></app-ckeditor>
                        </v-flex>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <v-card-title primary-title>
                                <h3>Usuários</h3>
                                <v-spacer></v-spacer>
                                <v-text-field @input="loadData" append-icon="search" label="Procurar" single-line hide-details v-model="search"></v-text-field>
                            </v-card-title>
                            <v-data-table
                                    :rows-per-page-text="'Registros por página '"
                                    :no-data-text="'Sem registros'"
                                    :rows-per-page-items="[10,30,50,150]"
                                    :headers="headers"
                                    :items="items"
                                    :pagination.sync="pagination"
                                    :total-items="totalItems"
                                    :loading="loading"
                                    v-model="register.users"
                                    class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <tr :active="props.selected" @click="props.selected = !props.selected">
                                        <td>
                                            <v-checkbox
                                                    :input-value="props.selected"
                                                    primary
                                                    hide-details
                                            ></v-checkbox>
                                        </td>
                                        <td class="text-md-left">{{ props.item.full_name }}</td>
                                        <td class="text-md-left">{{ props.item.email }}</td>
                                        <td class="text-md-left">{{ props.item.last_access }}</td>
                                        <td class="text-md-center">
                                            <div v-if="props.item.acl === 'C'">CLIENTE</div>
                                            <div v-if="props.item.acl === 'F'">FINANCEIRO</div>
                                            <div v-if="props.item.acl === 'A'">ADMINISTRADOR</div>
                                        </td>
                                    </tr>
                                </template>
                            </v-data-table>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-flex xl12 lg12 md12 sm12 xs12>
                        <v-layout row wrap right>
                            <v-container>
                                <v-btn class="grey darken-1" router :to="'/clients'" dark flat>Cancelar</v-btn>
                                <v-btn class="blue darken-1" dark flat :disabled="!valid" @click="submit">Atualizar</v-btn>
                            </v-container>
                        </v-layout>
                    </v-flex>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-container>
</template>
<script>
    import AppCkeditor from "./components/AppCkeditor";
    export default {
        components: {AppCkeditor},
        data() {
            return {
                register: '',
                loading: false,
                valid: true,
                error: false,
                success: false,
                message: '',
                search: '',
                totalItems: 0,
                pagination: {rowsPerPage: 10},
                headers: [
                    {text: '', value: '', align: 'left', sortable: false},
                    {text: 'Nome completo', value: 'full_name', align: 'left', sortable: true},
                    {text: 'E-mail', value: 'email', align: 'center', sortable: true},
                    {text: 'Último acesso', value: 'last_access', align: 'center', sortable: true},
                    {text: 'Regras de negócio', value: 'acl', align: 'center', sortable: true},
                ],
                items: [],
                nameRules: [
                    (v) => !!v || 'Este campo é obrigatório',
                ],
                emailRules: [
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'O E-mail não é valido!'
                ]
            }
        },
        watch: {
            pagination: {
                handler () {
                    var self = this;
                    var data = this.pagination;
                    data.search = this.search;
                    self.$axios.get('/list-users.json', {
                        params: {
                            data
                        }
                    }).then((response) => {
                        self.items = response.data.registries;
                        self.totalItems = response.data.totalRegistries;
                    }).catch(function (e) {
                        self.error = true
                        self.message = e.response.data.message
                    })
                },
                deep: true
            }
        },
        methods: {
            loadData: function () {
                var self = this;
                var data = this.pagination;
                data.search = this.search;
                self.loading = true;
                this.$axios.get('/list-users.json', {
                    params: {
                        data
                    }
                }).then((response) => {
                    this.items = response.data.registries;
                    this.totalItems = response.data.totalRegistries;
                    this.loading = false;
                }).catch(function (e) {
                    self.error = true
                    self.message = e.response.data.message
                }).then(function () {
                    // always executed
                    self.loading = false
                });
            },
            submit() {
                var self = this;
                if (self.$refs.form.validate()) {
                    self.$store.commit('onLoading', true);
                    self.error = self.success = false;
                    self.message = '';
                    self.$axios.post('/edit-clients.json', self.register).then(function (response) {
                        self.$store.commit('onLoading', false);
                        if (response.data.success === true) {
                            self.success = true;
                            self.message = response.data.message;
                            setTimeout(function () {
                                self.$router.push('/clients');
                            }, 2000);
                        } else {
                            self.error = true
                            self.message = response.data.message;
                        }
                    }).catch(function (e) {
                        self.error = true
                        self.message = 'Sem conexão com o servidor'
                    })
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.loadData()
                this.register = JSON.parse(window.localStorage.getItem('register'))
            })
        }
    }
</script>
