<template>
    <v-container fluid grid-list-md style="padding: 10px">
        <h1>Págionas <span style="font-size: 12px;"> Cadastros de páginas</span></h1>
        <v-card class="black--text elevation-1">
            <v-card-text>
                <v-flex xl12 lg12 md12 sm12 xs12>
                    <v-snackbar top v-model="success" color="success">
                        <span> <v-icon>check_circle</v-icon> {{messages}} </span>
                    </v-snackbar>
                    <v-snackbar top v-model="error" color="error">
                        <span> <v-icon>warning</v-icon> {{messages}} </span>
                    </v-snackbar>
                    <v-card-title primary-title>
                        <v-spacer></v-spacer>
                        <v-text-field @input="loadData" append-icon="search" label="Procurar" single-line hide-details v-model="search"></v-text-field>
                    </v-card-title>
                    <v-data-table
                            :rows-per-page-text="'Registros por página '"
                            :no-data-text="'Sem registros'"
                            :rows-per-page-items="[10,30,50,150]"
                            :headers="headers"
                            :items="items"
                            :pagination.sync="pagination"
                            :total-items="totalItems"
                            :loading="loading"
                            class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <tr>
                                <td>
                                    <v-chip class="text-md-left" small v-if="props.item.status=='A'" label color="green" text-color="white">
                                        Ativo
                                    </v-chip>
                                    <v-chip class="text-md-left" small v-if="props.item.status=='S'" label color="orange" text-color="white">
                                        Bloqueado
                                    </v-chip>
                                </td>
                                <td class="text-md-left">{{ props.item.company_name }}</td>
                                <td class="text-md-left">{{ props.item.fantasy_name }}</td>
                                <td class="text-md-center">{{ props.item.CNPJCPF }}</td>
                                <td class="text-md-center">{{ props.item.DOC }}</td>
                                <td class="text-md-center">{{ props.item.email }}</td>
                                <td class="text-md-center">{{ props.item.telephone }}</td>
                                <td class="text-md-center">{{ props.item.telephone_2 }}</td>
                                <td class="justify-center layout">
                                    <v-tooltip left>
                                        <v-btn icon slot="activator" small @click.stop="doEdit(props.item)">
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                        <span>Editar</span>
                                    </v-tooltip>
                                    <v-tooltip v-if="props.item.status=='S'" left>
                                        <v-btn icon slot="activator" flat color="success"
                                               @click.stop="doChange(props.item.id,'A')">
                                            <v-icon>check_circle</v-icon>
                                        </v-btn>
                                        <span>Ativar</span>
                                    </v-tooltip>
                                    <v-tooltip v-if="props.item.status=='A'" left>
                                        <v-btn icon slot="activator" flat color="warning"
                                               @click.stop="doChange(props.item.id,'S')">
                                            <v-icon>block</v-icon>
                                        </v-btn>
                                        <span>Bloquear</span>
                                    </v-tooltip>
                                    <v-tooltip left>
                                        <v-btn icon slot="activator" flat color="error"
                                               @click.stop="doChange(props.item.id,'D')">
                                            <v-icon>delete</v-icon>
                                        </v-btn>
                                        <span>Excluir</span>
                                    </v-tooltip>
                                </td>
                            </tr>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-card-text>
        </v-card>
        <template>
            <v-layout row justify-center>
                <v-dialog v-model="dialog" persistent max-width="290">
                    <v-card>
                        <v-card-title class="headline">Tem certeza que deseja {{action.action_name}} este registro?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="red darken-1" flat @click.native="dialog = false">NÃO</v-btn>
                            <v-btn color="green darken-1" flat @click.native="change">SIM</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-layout>
        </template>
    </v-container>
</template>
<style scoped>
    .text-1{
        font-size: 10px !important;
    }
    td{
        padding: 0 15px !important;
    }
</style>
<script>
    export default {
        name: 'clientsList',
        data() {
            return {
                dialog: false,
                action: {
                    action_name: '',
                    id: 0,
                    status: ''
                },
                success: false,
                error: false,
                messages: '',
                loading: false,
                selected: '',
                search: '',
                totalItems: 0,
                pagination: {sortBy: 'full_name', descending: true, rowsPerPage: 25},
                headers: [
                    {text: 'Status', value: 'status', align: 'left', sortable: true},
                    {text: 'Nome da empresa / Razão social', value: 'status', align: 'left', sortable: true},
                    {text: 'Nome fantasia', value: 'fantasy_name', align: 'center', sortable: true},
                    {text: 'CNPJCPF', value: 'CNPJCPF', align: 'center', sortable: true},
                    {text: 'DOC', value: 'DOC', align: 'center', sortable: true},
                    {text: 'E-mail', value: 'email', align: 'center', sortable: true},
                    {text: 'Telefone', value: 'telephone', align: 'center', sortable: true},
                    {text: 'Tel. Corporativo', value: 'telephone', align: 'center', sortable: true},
                    {text: 'Ações', value: '', align: 'center', sortable: true},
                ],
                items: [],
            }
        },
        watch: {
            pagination: {
                handler() {
                    this.loadData()
                },
                deep: true
            },
            search: {
                handler() {
                    this.loadData()
                },
                deep: true
            }
        },
        methods: {
            loadData: function () {
                var self = this;
                var data = this.pagination;
                data.search = this.search;
                self.loading = true
                self.$axios.get('/list-clients.json', {
                    params: {
                        data
                    }
                }).then((response) => {
                    self.items = response.data.registries;
                    self.totalItems = response.data.totalRegistries;
                    self.loading = false
                }).catch(function (e) {
                    self.error = true
                    self.messages = e.response.data.message
                    self.loading = false
                })
            },
            doChange(row, status) {
                if (status == 'S') {
                    this.action.action_name = 'suspender'
                } else if (status == 'A') {
                    this.action.action_name = 'ativar'
                } else if (status == 'D') {
                    this.action.action_name = 'apagar'
                }
                this.action.id = row
                this.action.status = status
                this.dialog = true
            },
            change() {
                var self = this
                self.loading = true
                self.$axios.post('/update-clients.json', self.action, {
                    headers: {
                        'Authorization': this.$store.state.token
                    }
                }).then(function (response) {
                    self.loadData()
                    self.dialog = self.loading = false
                    self.success = true;
                    self.messages = response.data.message;

                }).catch(function (e) {
                    self.error = true
                    self.messages = e.response.data.message
                }).then(function () {
                    // always executed
                    self.loading = false
                });
            },
            doEdit(row) {
                this.$router.push('/clients/edit');
                localStorage.setItem('register', JSON.stringify(row))
            },
            changeSort(column) {
                if (this.pagination.sortBy === column) {
                    this.pagination.descending = !this.pagination.descending
                } else {
                    this.pagination.sortBy = column
                    this.pagination.descending = false
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.loadData()
            })
        }
    }
</script>
