<template>
    <div class="app-bg">
        <v-layout row>
            <div class="bg"></div>
            <v-flex xs12 sm12 md12  lg4 xl4>
            </v-flex>
            <v-flex xs12 sm12 md12  lg4 xl4>
                <v-snackbar top v-model="success" color="success">
                    <span> <v-icon>check_circle</v-icon> {{message}} </span>
                </v-snackbar>
                <v-snackbar top v-model="error" color="error">
                    <span> <v-icon>warning</v-icon> {{message}} </span>
                </v-snackbar>
                <v-card class="transparent" flat style="margin-top: 15%;">
                    <v-progress-linear style="margin: 0px;" v-if="loading" v-bind:indeterminate="true" height="5" color="white"></v-progress-linear>
                    <div style="padding: 10px">
                        <v-form v-model="valid" ref="form" lazy-validation v-on:submit.prevent="submit">
                            <v-text-field light label="E-mail" v-model="fields.email" :rules="rules" required></v-text-field>
                            <v-text-field light label="Senha" v-model="fields.password" :rules="rules" type="password"
                                          required></v-text-field>
                            <v-checkbox light label="Lembrar me" v-model="fields.remember"></v-checkbox>
                            <v-btn style="margin: 0px;margin-bottom: 10px;" type="submit" class="success"
                                   :disabled="!valid" flat>Entrar
                            </v-btn>
                        </v-form>
                        <nuxt-link to="login/recovery">Esqueceu sua senha?</nuxt-link>
                        <p class="text-xs-center black--text" style="color: #b2b2b2;">-</p>
                    </div>
                </v-card>
            </v-flex>
            <v-flex xs12 sm12 md12  lg4 xl4>
            </v-flex>
        </v-layout>
    </div>
</template>
<style scoped type="text/css">
    .app-bg{
        /*background-image: url("/static/incell.png") !important;*/
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
    }
    body, html {
        overflow: hidden;
    }
</style>
<script>
    export default {
        data: function () {
            return {
                loading: false,
                success: false,
                error: false,
                message: '',
                fields: {
                    email: 'rogerio@hwn.com.br',
                    password: 'hwn7962',
                    remember: ''
                },
                valid: false,
                rules: [
                    (v) => !!v || 'Este campo é obrigatório'
                ]
            }
        },
        methods: {
            submit: function () {
                var self = this
                self.$store.commit('logout');
                localStorage.removeItem('pbx');
                self.$axios.post('login.json', self.fields,{headers:{
                        notoken: 1
                    }}).then(function (response) {
                    if (response.data.success === true) {
                        self.$store.commit('authenticate', response.data);
                        localStorage.setItem('pbx',response.data.token)
                        self.$router.push('/')
                    } else {
                        self.error = true
                        self.message = response.data.message
                    }
                });
            }
        }
    }
</script>
