<template>
    <v-container fluid grid-list-md style="padding: 10px">
        <img id="full-screen-background-image" src="">
        <v-layout row wrap>
            <v-snackbar top v-model="success" color="success">
                <span> <v-icon>check_circle</v-icon> {{messages}} </span>
            </v-snackbar>
            <v-snackbar top v-model="error" color="error">
                <span> <v-icon>warning</v-icon> {{messages}} </span>
            </v-snackbar>
            <v-flex xs0 md0 lg4></v-flex>
            <v-flex xs12 sm8 md6 lg4>
                <v-progress-linear style="margin: 0px;" v-if="loading" v-bind:indeterminate="true" height="5" color="white"></v-progress-linear>
                <v-card class="transparent" flat style="margin-top: 15%;">
                    <v-toolbar class="transparent" flat>
                        <v-toolbar-title class="black--text">
                            Entrar
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <div style="padding: 10px">
                        <v-form v-model="valid" ref="form" lazy-validation v-on:submit.prevent="recovery">
                            <v-text-field light label="E-mail" v-model="fields.email" :rules="rules" required></v-text-field>
                            <v-btn style="margin: 0px;margin-bottom: 10px;" type="submit" class="success" :disabled="!valid" flat>Enviar solicitação</v-btn>
                        </v-form>
                        <nuxt-link to="/login">Tentar novamente></nuxt-link>
                        <p class="text-xs-center black--text" style="color: #b2b2b2">Paybox</p>
                    </div>
                </v-card>
            </v-flex>
            <v-flex xs0 md0 lg6></v-flex>
        </v-layout>
    </v-container>
</template>
<style>
    #full-screen-background-image {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: lightgray;
    }
</style>
<script>
    export default {
        data: function () {
            return {
                loading: false,
                success: false,
                error: false,
                messages: '',
                fields: {
                    email: ''
                },
                valid: false,
                rules: [
                    (v) => !!v || 'Este campo é obrigatório'
                ]
            }
        },
        methods: {
            recovery: function () {
                var self = this
                self.success = false;
                self.error = false;
                self.messages = '';
                self.loading = true;
                if (self.$refs.form.validate()) {
                    self.$axios.post('/recovery-password.json', {email: self.fields.email}, {
                        headers: {'Authorization': ''}
                    }).then(function (response) {
                        self.success = true;
                        self.messages = response.data.message;
                    }).catch(function (e) {
                        self.error = true
                        self.messages = e.response.data.message
                    }).then(function () {
                        // always executed
                        self.loading = false
                    });
                }
            }
        }
    }
</script>
