<template>
    <v-container fluid grid-list-lg>
        <v-snackbar top v-model="success" color="success">
            <span> <v-icon>check_circle</v-icon> {{messages}} </span>
        </v-snackbar>
        <v-snackbar top v-model="error" color="error">
            <span> <v-icon>warning</v-icon> {{messages}} </span>
        </v-snackbar>
        <h1>Usuários <span style="font-size: 12px;"> Novo usuário</span></h1>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card class="black--text">
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xl2 lg2 md12 sm12 xs12>
                            <v-select v-if="this.$store.getters.getACL === 'A'"
                                      v-bind:items="[
                                      {acl:'A',name:'Administrador'},
                                      {acl:'F',name:'Financeiro'},
                                      {acl:'C',name:'Cliente'},
                                    ]"
                                      item-value="acl"
                                      item-text="name"
                                      v-model="fields.acl"
                                      label="Perfil">
                            </v-select>
                            <v-select  v-if="this.$store.getters.getACL === 'F'"
                                       v-bind:items="[
                                      {acl:'F',name:'Financeiro'},
                                      {acl:'C',name:'Cliente'},
                                    ]"
                                       item-value="acl"
                                       item-text="name"
                                       v-model="fields.acl"
                                       label="Perfil">
                            </v-select>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="Nome completo" required v-model="fields.full_name" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl4 lg4 md12 sm12 xs12>
                            <v-text-field label="E-mail" required v-model="fields.email" :rules="emailRules"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md12 sm12 xs12>
                            <v-text-field type="phone" label="Telefone" v-model="fields.telephone" required placeholder="(00) 0000 - 0000" mask="(##) #### - ####" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md12 sm12 xs12>
                            <v-text-field type="phone" label="Celular" v-model="fields.mobile" required placeholder="(00) 00000 - 0000" mask="(##) ##### - ####"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md12 sm12 xs12>
                            <v-text-field label="Senha" required v-model="fields.password" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md12 sm12 xs12>
                            <v-text-field label="Confirmar senha" required v-model="fields.confirm_password" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <v-text-field label="Observações" v-model="fields.obs"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-flex xl12 lg12 md12 sm12 xs12>
                        <v-layout row wrap right>
                            <v-container>
                                <v-btn class="grey darken-1" router :to="'/users'" dark flat>Cancelar</v-btn>
                                <v-btn class="blue darken-1" dark flat :disabled="!valid" @click="submit">Cadastrar</v-btn>
                            </v-container>
                        </v-layout>
                    </v-flex>
                </v-card-actions>
            </v-card>
        </v-form>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                rc: '',
                loading: false,
                valid: true,
                error: false,
                success: false,
                messages: '',
                fields: {
                    acl: 'C',
                    full_name: '',
                    mobile: '',
                    telephone: '',
                    email: '',
                    password: '',
                    confirm_password: '',
                    locales: [],
                },
                locales: [],
                search: '',
                totalItems: 0,
                pagination: {rowsPerPage: 10},
                headers: [
                    {text: 'Selecione', value: 'select', align: 'left', sortable: false},
                    {text: 'Local', value: 'fantasy_name', align: 'left', sortable: true},
                    {text: 'Endereço', value: 'address', align: 'left', sortable: true},
                    {text: 'Tipo', value: 'type', align: 'center', sortable: true},
                ],
                nameRules: [
                    (v) => !!v || 'Este campo é obrigatório',
                ],
                emailRules: [
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'O E-mail não é valido!'
                ]
            }
        },
        methods: {
            submit() {
                var self = this;
                if (self.$refs.form.validate()) {
                    self.$store.commit('onLoading', true);
                    self.error = self.success = false;
                    self.messages = '';
                    self.$axios.post('/add-users.json', self.fields).then(function (response) {
                        self.$store.commit('onLoading', false);
                        if (response.data.success === true) {
                            self.success = true;
                            self.messages = response.data.message;
                            setTimeout(function () {
                                self.$router.push('/users');
                            }, 2000);
                        } else {
                            self.error = true
                            self.messages = response.data.message;
                        }
                    }).catch(function (e) {
                        self.error = true
                        self.messages = 'Sem conexão com o servidor'
                    })
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {

            })
        }
    }
</script>
