<template>
    <v-container fluid grid-list-lg>
        <v-snackbar top v-model="success" color="success">
            <span> <v-icon>check_circle</v-icon> {{messages}} </span>
        </v-snackbar>
        <v-snackbar top v-model="error" color="error">
            <span> <v-icon>warning</v-icon> {{messages}} </span>
        </v-snackbar>
        <h1>Usuários <span style="font-size: 12px;"> Novo usuário</span></h1>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-card class="black--text">
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex xl2 lg2 md12 sm12 xs12>
                            <label style="color: #7e8190">Perfil</label>
                            <h3 v-if="register.acl === 'A'">Administrador</h3>
                            <h3 v-if="register.acl === 'F'">Financeiro</h3>
                            <h3 v-if="register.acl === 'C'">Cliente</h3>
                        </v-flex>
                        <v-flex xl10 lg10 md12 sm12 xs12>
                            <v-text-field label="Nome completo" required v-model="register.full_name" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl6 lg6 md12 sm12 xs12>
                            <v-text-field label="E-mail" required v-model="register.email" :rules="emailRules"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md12 sm12 xs12>
                            <v-text-field type="phone" label="Telefone" v-model="register.telephone" required placeholder="(00) 0000 - 0000" mask="(##) #### - ####" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl3 lg3 md12 sm12 xs12>
                            <v-text-field type="phone" label="Celular" v-model="register.mobile" required placeholder="(00) 00000 - 0000" mask="(##) ##### - ####" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <v-text-field label="Observações" v-model="register.obs"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-flex xl12 lg12 md12 sm12 xs12>
                        <v-layout row wrap right>
                            <v-container>
                                <v-btn class="primary darken-1" dark flat :disabled="!valid" @click="dialog = true">Alterar senha</v-btn>
                                <v-btn class="grey darken-1" router :to="'/users'" dark flat>Cancelar</v-btn>
                                <v-btn class="blue darken-1" dark flat :disabled="!valid" @click="submit">Atualizar</v-btn>
                            </v-container>
                        </v-layout>
                    </v-flex>
                </v-card-actions>
            </v-card>
        </v-form>
        <v-dialog v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>
                    Alterar a senha
                </v-card-title>
                <v-card-text>
                    <v-layout row wrap>
                        <v-snackbar top v-model="password_success" color="success">
                            <span> <v-icon>check_circle</v-icon> {{password_messages}} </span>
                        </v-snackbar>
                        <v-snackbar top v-model="password_error" color="error">
                            <span> <v-icon>warning</v-icon> {{password_messages}} </span>
                        </v-snackbar>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <v-text-field label="Digite uma senha" required v-model="password" :rules="nameRules"></v-text-field>
                        </v-flex>
                        <v-flex xl12 lg12 md12 sm12 xs12>
                            <v-text-field label="Repita a senha" required v-model="confirm_password" :rules="nameRules"></v-text-field>
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secundary" flat @click="dialog = false">  Cancelar </v-btn>
                    <v-btn color="primary" flat @click="changePass">  Alterar </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
     </v-container>
</template>
<script>
    export default {
        data() {
            return {
                register: {},
                loading: false,
                valid: true,
                error: false,
                password_error: false,
                success: false,
                password_success: false,
                dialog: false,
                messages: '',
                password_messages: '',
                password: '',
                confirm_password: '',
                locales: [],
                search: '',
                totalItems: 0,
                pagination: {rowsPerPage: 10},
                headers: [
                    {text: 'Selecione', value: 'select', align: 'left', sortable: false},
                    {text: 'Local', value: 'fantasy_name', align: 'left', sortable: true},
                    {text: 'Endereço', value: 'address', align: 'left', sortable: true},
                    {text: 'Tipo', value: 'type', align: 'center', sortable: true},
                ],
                nameRules: [
                    (v) => !!v || 'Este campo é obrigatório',
                ],
                emailRules: [
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'O E-mail não é valido!'
                ]
            }
        },
        methods: {
            changePass() {
                var self = this;
                self.password_error = self.password_success = false;
                self.password_messages = '';
                if(!self.password){
                    self.password_error = true;
                    self.password_messages = 'Informe uma senha!';
                } else  if(!self.confirm_password){
                    self.password_error = true;
                    self.password_messages = 'Confirme a senha!';
                }else if(self.confirm_password != self.password){
                    self.password_error = true;
                    self.password_messages = 'As senhas não são iguais!';
                }else{
                    self.$axios.post('/update-password-users.json', {password:self.password,id:self.register.id}).then(function (response) {
                        if (response.data.success === true) {
                            self.password_success = true;
                            self.password_messages = response.data.message;
                            setTimeout(function () {
                                self.dialog = false;
                            }, 2000);
                        } else {
                            self.password_error = true
                            self.password_messages = response.data.message;
                            self.dialog = false;
                        }
                    })
                }
            },
            submit() {
                var self = this;
                if (self.$refs.form.validate()) {
                    self.$store.commit('onLoading', true);
                    self.error = self.success = false;
                    self.messages = '';
                    self.$axios.post('/edit-users.json', self.register).then(function (response) {
                        self.$store.commit('onLoading', false);
                        if (response.data.success === true) {
                            self.success = true;
                            self.messages = response.data.message;
                            setTimeout(function () {
                                self.$router.push('/users');
                            }, 2000);
                        } else {
                            self.error = true
                            self.messages = response.data.message;
                        }
                    }).catch(function (e) {
                        self.error = true
                        self.messages = 'Sem conexão com o servidor'
                    })
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                this.register = JSON.parse(window.localStorage.getItem('register'))
            })
        }
    }
</script>
