<template>
  <v-app>
    <div class="overlay-loading" v-if="$store.state.loanding">
      <div class="loader modal">
        <p> Aguarde ...</p>
      </div>
    </div>
    <v-navigation-drawer dark :mini-variant.sync="miniVariant" :clipped="clipped"  v-model="drawer" fixed app v-if="$store.getters.isAuthenticated">
      <v-list>
        <v-list-tile>Olá {{ this.$store.getters.getUserName }}</v-list-tile>
        <v-list-tile>
          <p style="font-size: 10px;color: #bcbcbc">
            Último acesso: {{ this.$store.getters.getLastAccess }}
          </p>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :value="item.active" :key="item.title" router :to="item.to" v-if="!item.items">
          <v-list-tile-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>{{item.title}}</v-list-tile-title>
        </v-list-tile>
        <v-list-group v-for="item in items" :value="item.active" :key="item.title" router :to="item.to" v-if="item.items">
          <v-list-tile slot="activator" :to="item.to">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="subItem in item.items" :key="subItem.title" :to="subItem.to" no-action sub-group>
            <v-list-tile-action>
              <v-icon>{{ subItem.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark flat fixed app :clipped-left="clipped" style="background-color: #1d56ac">
      <v-toolbar-title>Allrure</v-toolbar-title>
      <v-toolbar-side-icon  @click="drawer = !drawer" v-if="$store.getters.isAuthenticated"></v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <v-btn flat @click="logout" v-if="$store.getters.isAuthenticated">
        Sair &ensp;
        <v-icon>input</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <nuxt/>
    </v-content>
    <v-footer dark :fixed="fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>
<style>
  .container{
    padding: 5px !important;
  }
</style>
<script>
    export default {
      data () {
        return {
          clipped: true,
          drawer: true,
          fixed: false,
          items: [],
          itemsA: [
            { icon: 'airplay', title: 'Teste allure', to: '/' },
            {
              icon: 'work',
              title: 'Páginas',
              items: [{ title: 'Nova página', to: '/pages/add' }, { title: 'Listar páginas', to: '/pages' }]
            }
          ],
          right: true,
          miniVariant: false,
          rightDrawer: false
        }
      },
      methods: {
        logout: function () {
          this.$store.commit('logout')
          this.$router.push('/login')
        }
      },
      updated: function () {
        var self = this
        setTimeout(function () {
          self.items = self.itemsA
        }, 3000)
      },
      created: function () {
        var self = this
        setTimeout(function () {
          self.items = self.itemsA
        }, 3000)
      },
      mounted: function () {
        var self = this
        self.$nextTick(function () {
          if (self.$cookies.get('pbx')) {
            self.$store.commit('authenticate', self.$cookies.get('pbx'))
          } else {
            self.$router.push('/login')
          }
        })
      }
    }
</script>
