<template>
    <v-container fluid grid-list-lg>
        <v-card class="black--tex">
            <v-card-text>
                <v-layout row wrap>
                    <v-flex xl12 lg12 md12 sm12 xs12 class="pt-5">
                        <h1>Teste Allure</h1>
                        <img src="/img/allure.jpg">
                        <pre>
                        Requisitos::
                        OOP
                        Arquiteruta MVC
                        Verificar se já fez algum site utilizando FrameWork, de preferencia CakePHP ou  Codeigniter
                        Integração com Webservice
                        Gerenciamento de pacote composer
                        Controle de versão Git
                        Manipulção de dados Json ou XML
                        Requisições Ajax

                        Teste Prático::
                        Criar uma aplicação que adicione, busque, edite e exclua páginas criadas no Banco de Dados, conforme as imagens abaixo,
                        Na lista deve conter Páginação e um botão para visualizar a Página criada.
                        Usar CakePHP ou Codeigniter de preferência,
                        </pre>
                        <v-divider></v-divider>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-container>
</template>
<script>
  export default {
    data () {
      return {}
    },
    methods: {},
    mounted: function () {
      this.$nextTick(function () {
      })
    }
  }
</script>
